<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SVIPL Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/acmeuser/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/acmeuser/css/plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ asset('bundles/acmeuser/css/plugins/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/acmeuser/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/acmeuser/css/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if is_granted("ROLE_USER") %}
                    <a class="navbar-brand" href="{{ path('acme_store')}}">SVIPL Admin</a>
                {% else %}    
                    <a class="navbar-brand" href="{{ path('fos_user_security_login')}}">SVIPL Admin</a>
                {% endif %}    
            </div>
            <!-- /.navbar-header -->
            
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% if is_granted("ROLE_USER") %}
                        <i class="fa fa-user fa-fw"></i>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <i class="fa fa-caret-down"></i>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href={{ path('fos_user_profile_show')}}><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user fa-fw"></i> New Registration</a>
                        </li>
                        <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-user fa-fw"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% if is_granted("ROLE_USER") %}
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('acme_user') }}"><i class="fa fa-user fa-fw"></i>User</a></li>
                            <li><a href="{{ path('acme_info_logo') }}"><i class="fa fa-dashboard fa-fw"></i>Logo</a></li>
                            <li><a href="{{ path('acme_image') }}"><i class="fa fa-table fa-fw"></i>Slider</a></li>
                            <li><a href="{{ path('acme_info_ourservice') }}"><i class="fa fa-edit fa-fw"></i>Features</a></li>
                            <li><a href="{{ path('acme_info_serviceslist') }}"><i class="fa fa-envelope fa-fw"></i>Recent Works</a></li>
                            <li><a href="{{ path('acme_info') }}"><i class="fa fa-sitemap fa-fw"></i>Our Skills</a></li>
                            <li><a href="{{ path('acme_info_people') }}"><i class="fa fa-envelope fa-fw"></i>Why people like us</a></li>
                            <li><a href="{{ path('acme_info_work') }}"><i class="fa fa-envelope fa-fw"></i>Work</a></li>
                            <li><a href="{{ path('acme_info_testimonials') }}"><i class="fa fa-wrench fa-fw"></i>Testimonials</a></li>
                            <li><a href="{{ path('acme_team') }}"><i class="fa fa-wrench fa-fw"></i>Team</a></li>
                        {% endif %}    
                        <li><a href="{{ path('acme_category') }}"><i class="fa fa-dashboard fa-fw"></i>Category</a></li>
                        <li><a href="{{ path('acme_store') }}"><i class="fa fa-dashboard fa-fw"></i>Store</a></li>
                        {% if is_granted('ROLE_ADMIN') %} 	
                        <li><a href="{{ path('acme_info_newslist') }}"><i class="fa fa-files-o fa-fw"></i>News</a></li>
                        <li><a href="{{ path('acme_info_contactus') }}"><i class="fa fa-bell fa-fw"></i>ContactUs</a></li>
                        <li><a href="{{ path('acme_footer') }}"><i class="fa fa-bell fa-fw"></i>Footer</a></li>
                        <li><a href="{{ path('acme_store_orders') }}"><i class="fa fa-wrench fa-fw"></i>Orders</a></li>
                        {% endif %}    
                    </ul>
                </div>
            </div>
            {% endif %}        
        </nav>

        <div id="page-wrapper">
            {% block body %}{% endblock %}
        </div>

    </div>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('bundles/acmeuser/js/jquery-1.11.0.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/acmeuser/js/bootstrap.min.js') }}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('bundles/acmeuser/js/plugins/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/acmeuser/js/sb-admin-2.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ asset('bundles/acmeuser/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeuser/js/common.js') }}"></script>
    
    <script>
        var oTable;
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
        $(document).ready(function () {
            oTable = $('#dataTables-example1').dataTable();
        });
        $(document).ready(function(){
           $(".btn-status").click(function(){
                id = $(this).attr('id');
                $.ajax({
                    url: "{{ path('acme_user_status') }}",
                    type: "POST",
                    data: {id : id},
                    dataType: "json",
                    beforeSend: function(){
                        
                    },
                    success: function(result){
                        //oTable.fnDraw();
                        if(result.status == true){
                            $("a#"+result.id).removeClass("btn-danger").addClass("btn-success").html("Enable");
                        }else{
                            $("a#"+result.id).removeClass("btn-success").addClass("btn-danger").html("Disabled");;
                        }
			window.location.reload();
                    },
                    error: function(e){
                        alert(e);
                    },
                });
           }); 
        });
        $(document).ready(function(){
           $(".btn-category-status").click(function(){
                id = $(this).attr('id');
                $.ajax({
                    url: "{{ path('category_status') }}",
                    type: "POST",
                    data: {id : id},
                    dataType: "json",
                    beforeSend: function(){
                        
                    },
                    success: function(result){
                        //oTable.fnDraw();
                        if(result.status == true){
                            $("a#"+result.id).removeClass("btn-danger").addClass("btn-success").html("Enable");
                        }else{
                            $("a#"+result.id).removeClass("btn-success").addClass("btn-danger").html("Disabled");
                        }
			window.location.reload();
                    },
                    error: function(e){
                        alert(e);
                    },
                });
           }); 
        });
        
        $(document).ready(function(){
           $(".btn-logo-status").click(function(){
                id = $(this).attr('id');
                $.ajax({
                    url: "{{ path('logo_status') }}",
                    type: "POST",
                    data: {id : id},
                    dataType: "json",
                    beforeSend: function(){
                        
                    },
                    success: function(result){
                        //oTable.fnDraw();
                        if(result == 1){
                            $("#error").show();
                        }
                        if(result.status == true){
                            $("a#"+result.id).removeClass("btn-danger").addClass("btn-success").html("Enable");
                        }else{
                            $("a#"+result.id).removeClass("btn-success").addClass("btn-danger").html("Disabled");;
                        }
			window.location.reload();
                    },
                    error: function(e){
                        alert(e);
                    },
                });
           }); 
           $(".btn-follow-status").click(function(){
                id = $(this).attr('id');
                $.ajax({
                    url: "{{ path('follow_status') }}",
                    type: "POST",
                    data: {id : id},
                    dataType: "json",
                    beforeSend: function(){
                        
                    },
                    success: function(result){
                        //oTable.fnDraw();
                        if(result.status == true){
                            $("a#"+result.id).removeClass("btn-danger").addClass("btn-success").html("Enable");
                        }else{
                            $("a#"+result.id).removeClass("btn-success").addClass("btn-danger").html("Disabled");;
                        }	
			window.location.reload();
                    },
                    error: function(e){
                        alert(e);
                    },
                });
           }); 
        });
        
    </script>
</body>

</html>
