<div class="body4">
    <div class="main zerogrid">
        <article id="content2">
            <div class="wrapper row">
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h4>Why Us?</h4>
                        {{ whyus|raw }}
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h4>Address</h4>
                        {{ address|raw }}
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h4>Follow Us</h4>
                        <ul id="icons">
                            {% for follow in followus %}
                                <li><a href="{{ follow.link }}"><img src="{{asset(['uploads/follow/',follow.id,'/',follow.logo]|join)}}" />{{ follow.title }}</a></li>
                            {% endfor %}    
                        </ul>
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h4>Newsletter</h4>
                        <form id="newsletter" method="post">
                            <div>
                                <div class="wrapper">
                                    <input class="input" type="text" value="Type Your Email Here"  onblur="if (this.value == '')
                                                this.value = 'Type Your Email Here'" onfocus="if (this.value == 'Type Your Email Here')
                                                            this.value = ''" >
                                </div>
                                <a href="#" class="button" onclick="document.getElementById('newsletter').submit()">Subscribe</a>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </article>
        <!-- content end -->
    </div>
</div>