{% extends '::base.html.twig' %}
{% block body %}
    {% block content %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Product</h1>
            </div>
        </div>
        <div class="row">  
            <center>
                <form action="{{ path('add') }}" method="post" {{ form_enctype(form) }} class="form-group">
                    <input type="hidden" value="{{ app.user.id }}" name="userid">
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger"> 
                            {{ form_errors(form.category)}}
                            {{ form_errors(form.name)}}
                            {{ form_errors(form.price) }}
                            {{ form_errors(form.description) }}
                            {{ form_errors(form.image) }}
                        </div>
                    {% endif %}
                    <div class="form-group col-lg-12">
                        {{ form_label(form.category, 'Category: ', {'label_attr': {'class': 'control-label col-sm-2'} }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.category, { 'attr': {'class': 'form-control','placeholder': 'Category Name'} }) }}  
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        {{ form_label(form.name, 'Name: ', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.name, { 'attr': {'class': 'form-control','placeholder': 'Product Name'} }) }}  
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        {{ form_label(form.price, 'Price: ', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.price, { 'attr': {'class': 'form-control','placeholder': 'Price'} }) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        {{ form_label(form.description, 'Description: ', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control','placeholder': 'Description'} }) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        {{ form_label(form.image, 'Image: ', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
                        <div class="col-sm-2">
                            {{ form_widget(form.image, { 'attr': {'class': 'btn btn-default btn-file'} }) }}
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="submit" formnovalidate value="Insert" name="insert" class="btn btn-primary"/>
                        <input type="reset" name="Reset" value="Reset" class="btn btn-danger" onclick="javascript:window.location.href = '{{ path('acme_store') }}'"/>
                    </div>
                </form>
            </center>			
        </div>
    {% endblock %}
{% endblock %}
