{% extends '::common.html.twig' %}
{% block body %}
<div class="body3">
		<div class="main zerogrid">
<!-- content -->
			<article id="content">
				<div class="wrapper tabs">
					{% set i = 0 %}
					{% set divNo = 1 %}
                                        {% for new in news%}

						{% if i%3 == 0 and divNo != 1 %}
							</div>
						{% endif %}

						{% if i%3 == 0 %}
                                                        <div class="tab-content" id="tab{{ divNo }}">
							{% set divNo = divNo + 1 %}
						{% endif %}

                                                <h5><span class="dropcap"><strong>{{new.id}}</strong><span>06</span></span>Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
						<div class="wrapper pad_bot2">
							<figure class="left marg_right1"><img src="{{asset(['uploads/news/',new.id,'/',new.image]|join)}}" alt=""></figure>
							<p class="pad_bot1">{{new.description}}</p>
							<a href="#" class="link1">Read More</a>
						</div>

						{% set i = i + 1 %}

                                                {% endfor %}
					</div>

                			<ul class="nav">
					    	{% for j in 1..(count / 3)|round(0, 'ceil') %}
				            		<li class="selected"><a href="#tab{{ loop.index }}">{{ loop.index }}</a></li>
		    				{% endfor %}
				    </ul>
					
				</div>

			</article>
		</div>
	</div>
	<div class="body4">
		<div class="main zerogrid">
			<article id="content2">
				<div class="wrapper row">
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>Why Us?</h4>
						<ul class="list1">
							<li><a href="#">Lorem ipsum dolor sit</a></li>
							<li><a href="#">Dmet, consectetur</a></li>
							<li><a href="#">Adipisicing elit eiusmod </a></li>
							<li><a href="#">Tempor incididunt ut</a></li>
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>Address</h4>
						<ul class="address">
							<li><span>Country:</span>USA</li>
							<li><span>City:</span>San Diego</li>
							<li><span>Phone:</span>8 800 154-45-67</li>
							<li><span>Email:</span><a href="mailto:">progress@mail.com</a></li>
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>Follow Us</h4>
						<ul id="icons">
							<li><a href="#"><img src="{{ asset('/bundles/acmehome/images/icon1.jpg') }}" alt="">Facebook</a></li>
							<li><a href="#"><img src="{{ asset('/bundles/acmehome/images/icon2.jpg') }}" alt="">Twitter</a></li>
							<li><a href="#"><img src="{{ asset('/bundles/acmehome/images/icon3.jpg') }}" alt="">LinkedIn</a></li>
							<li><a href="#"><img src="{{ asset('/bundles/acmehome/images/icon4.jpg') }}" alt="">Delicious</a></li>
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>Newsletter</h4>
						<form id="newsletter" method="post">
							<div>
								<div class="wrapper">
									<input class="input" type="text" value="Type Your Email Here"  onblur="if(this.value=='') this.value='Type Your Email Here'" onfocus="if(this.value =='Type Your Email Here' ) this.value=''" >
								</div>
								<a href="#" class="button" onclick="document.getElementById('newsletter').submit()">Subscribe</a>
							</div>
						</form>
					</div>
					</section>
				</div>
			</article>
<!-- content end -->
		</div>
	</div>
		<div class="main zerogrid">
<!-- footer -->
			<footer>
				<a href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank">Html5 Templates</a> by <a href="http://www.templatemonster.com/" target="_blank">Templatesmonster.com</a><br>
				<a href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank">Responsive Themes</a> by <a href="http://www.zerotheme.com/" target="_blank">Zerotheme.com</a><br>
			</footer>
<!-- footer end -->
		</div>
<script type="text/javascript"> Cufon.now(); </script>
<script>
	$(document).ready(function() {
		tabs.init();
	})
</script>
{% endblock%}
