{% extends '::base.html.twig' %}
{% block body %}
{% block content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
				<div style="float:right; margin-top:-15px;" class="panel-heading"><a href="testiadd"><button type="button" class="btn btn-primary btn-sm">Add Testimonials</button></a></div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Serial No</th>
                                            <th>Name</th>
                                            <th>Post</th>
                                            <th>Description</th>
                                            <th>Operations</th>
                                        </tr>
                                    </thead>
                                    <tbody>
					{% for testimonial in testimonials %}
                                         <tr class="gradeA">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ testimonial.name }}</td>
                                            <td>{{ testimonial.post }}</td>
                                            <td class="center">{{ testimonial.description }}</td>
                                            <td class="center">
						<a href="testiedit?id={{ testimonial.id }}" class="btn btn-primary">edit</a>
        					<a href="testidel?id={{ testimonial.id }}" class="btn btn-danger" onclick="return confirm('are sure delete?')">delete</a></li>
					    </td>
                                        </tr>
					{% endfor %}
                                    </tbody>
				    <!-- div>{{ paginator|raw }}</div--> 
                                </table>
                            </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

{% endblock %}
{% endblock %}
